<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To-Do List</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <div id="heading" class="box">
      <h1>It's <%= kindOfDay %></h1>
    </div>

    <div class="box">
      <!-- EJS that updates our list -->
        <% for (var i=0; i<newListItems.length; i++){ %>
          <div class="item">
            <input type="checkbox">
            <p> <%= newListItems [i] %> </p>
          </div>
        <% } %>

        <!-- form that handles user input -->
        <form action="/" method="post">
          <input type="text" name="item" placeholder="Add Item" autocomplete="off">
          <button type="submit" name="add">+</button>
        </form>
    </div>





  </body>
</html>
